@import '../../../config-scss/ren-calc.scss';
@import '../../../config-scss/variables.scss';
:host{

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: ren-calc(15) ren-calc(20);
    background-color: rgba(255,255,255,0.2);
    border-radius: ren-calc(10);
    margin-bottom: ren-calc(15);
    input{
      width: 95%;
      background: none;
      border: none;
      font-size: ren-calc(18);

      color: var(--branco);

      &::placeholder{
        color: var(--branco);
      }
    }
  }
}
