<a class="goetio">
  <section class="goetio_status">
  <h2>Beelzebuth</h2>

  <ul>
    <li>Hierarquia</li>
    <li>Elemento</li>

  </ul>
  </section>
  <section class="goetio_image">
    <img src="../../../assets/img/card/01.png" alt="nomepokemonapi" height="300" width="300">
  </section>
</a>
<a class="goetio">
  <section class="goetio_status">
  <h2>Beelzebuth</h2>

  <ul>
    <li>Hierarquia</li>
    <li>Elemento</li>

  </ul>
  </section>
  <section class="goetio_image">
    <img src="../../../assets/img/card/02.png" alt="nomepokemonapi" height="300" width="300">
  </section>
</a>
