@import '../../../config-scss/ren-calc.scss';
:host {
  display: flex;
  justify-content: space-between;
  .goetio {
    display: flex;
    background: var(--branco);

    width: calc(41% - 20px );
    height: ren-calc(165);
    padding: ren-calc(60);

    border-radius: ren-calc(30);
  &_status {
      h2 {
        font-size: ren-calc(32);
        font-style: italic;
        font-weight: 700;
        margin-bottom: ren-calc(40);
        }
      ul{
      display: flex;
      flex-direction: column;

      li{
        background: var(--cinza) ;
        font-size: ren-calc(18) ;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: ren-calc(60);
        width: ren-calc(80);
        margin-bottom: ren-calc(30);
      }
    }
  }
  &_image{

    display: flex;
    align-items: center;
    justify-content: center;

    height: ren-calc(167);
    width: ren-calc(550);

    right: ren-calc(20);
    bottom: ren-calc(20);
    img{
      width: ren-cal(80);

    }
  }
}
}
